
header, section{
    height: 100vh;
    width: 105vw;
}
.contact-button {
  background-color: #004643 !important;
}

.bg-secondary {
  background-color: #0C1618 !important;
}

.nav-link:hover, .nav-link:focus {
  color: #004643;
}

.bg-primary {
  background-color: #004643 !important;
}

#about {
  background-color: #F6BE9A;
}

hr.star-dark {
  border-color: #004643;
}

hr.star-white {
  border-color: #fff;
}

.about-heading {
  color: #004643;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  background-color: #004643;
}

.fa.fa-download.dl-ico {
  color: #fff;
}

.dl-text {
  color: #fff;
}

.btn-xl:hover {
  color: #fff;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 .25rem #fff;
}

.btn-outline-primary:hover {
  color: #004643;
  background-color: #fff;
  border-color: #004643;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #18bc9c;
}

.contact-button:hover, .contact-button:active {
  color: #fff;
}

#about, #contacts{
  padding: 20rem 0 0 0;
}

#projects{
  padding: 8rem 0;
}

.Contact-btn{
  background-color: #0C1618;
  color : #fff;
  text-transform: uppercase;
  border: 2px solid #0C1618;
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  line-height : 50px;
  width : 750px;
  text-align: center;
  margin: auto;
  letter-spacing: 5px;
}

.Contact-btn:hover{
  color: #fff;
  background-color: #004643;
  border: 2px solid #000;
}