a {
  margin-top: 2%;
  color: white;
  text-decoration: none;
  display: block;
}

.contact-btn:hover, .contact-btn:active {
  background-color: #4F6D7A;
  margin-top: 2%;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
}

.contact-btn {
  background-color: #084C61;
  margin-top: 2%;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
}

.contact-list {
  list-style: none;
}

a:focus, a:hover, a:active {
  color: white;
}

#page-top {
  background-color: #084C61;
}

#projects {
  background-color: #E3B505;
}

#skills {
  background-color: #56A3A6;
}

.portfolio .portfolio-item .portfolio-item-caption {
  transition: all ease 1s;
  opacity: 0;
  background-color: rgba(79, 109, 122,.9);
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #56A3A6;
}

#contact {
  background-color: #DB504A;
}

